/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  background-image: url('flower6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Ensure the background image stays fixed while scrolling */
  font-family: 'Montserrat', sans-serif; /* Moved font-family here */
  color: #333;
  line-height: 1.6;
}

/* Header styles */
#toolbar {
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#menu li {
  margin: 0 20px;
}

#menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  position: relative;
  padding-bottom: 5px;
}

#menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  transition: width 0.3s ease;
}

#menu a:hover::before {
  width: 100%;
}

/* Main content styles */
main {
  padding-top: 100px; /* Increase padding to accommodate larger header */
}

.section-title {
  color: #ff6f61;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.section-description {
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 40px;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.swiper-button-prev {
  left: 10px; /* Adjust horizontal position for previous button */
}

.swiper-button-next {
  right: 10px; /* Adjust horizontal position for next button */
}







.swiper-slide {
  margin-right: 10px; 
}



#swiper-container {
  width: 300px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin: 0 auto; /* Center the slider horizontally */
}


.photo-gallery img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  filter: hue-rotate(90deg); /* Add rainbow hue */
}

.photo-gallery img:hover {
  transform: scale(1.05);
  filter: hue-rotate(0deg); /* Reset hue on hover */
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social-like {
  display: flex;
  justify-content: center;
}

.qr-code {
  text-align: center;
}

.qa-container {
  margin-top: 40px;
}

.qa-item {
  margin-bottom: 40px;
}

.qa-heading {
  color: #ff6f61;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.qa-subheading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.qa-list {
  list-style: none;
  padding-left: 40px;
}

.qa-details {
  margin-top: 10px;
  font-size: 18px;
}

.qa-difference {
  margin-bottom: 20px;
}

.qa-example {
  font-style: italic;
  line-height: 1.8;
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 40px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  resize: vertical;
}

select{
  background-color: #ff0000;
  color:#ffffff;
  padding: 10px 10px; 
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"] {
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  color: white;
  transition: background-color 0.3s;
  font-size: 20px; 
  padding: 30px 60px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Center align the button */
}


input[type="submit"]:hover {
  background: linear-gradient(to left, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
}

#smiley option {
  font-weight: bold;
}

/* Floating menu styles */
.floating-menu {
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  display: none; /* Initially hide floating menu */
  transition: top 0.3s;
}

.floating-menu.show {
  display: block; /* Show floating menu when needed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Responsive styles */
@media (max-width: 768px) {
  #menu ul {
      flex-direction: column;
      align-items: center;
  }

  #menu li {
      margin: 10px 0;
  }

  .section {
      padding: 40px 20px;
  }

  .section-title {
      font-size: 28px;
  }

  .section-description {
      font-size: 18px;
  }

  .qa-heading {
      font-size: 24px;
  }

  .qa-subheading {
      font-size: 18px;
  }

  .qa-details {
      font-size: 16px;
  }
}

/* Rainbow animation */
@keyframes rainbow {
  0% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}

#toolbar,
#menu a::before,
.photo-gallery img:hover,
.qa-example,
input[type="submit"],
.floating-menu {
  animation: rainbow 5s linear infinite;
}
